.contact-fixed {
    position: fixed;
    bottom: 30%;
    z-index: 19;
    background: #fbbf24;
    right: 0;
    border-radius: 0.4rem 0 0 0.4rem;
}
.contact-fixed .menu {
    flex-direction: column;
    padding-left: 12px;
}
.menu {
    display: flex;
    align-items: center;
}
.contact-fixed .menu-link {
    padding: 0.5rem 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.menu-link, .menu-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.contact-fixed .menu-link img {
    transition: 0.3s ease-in-out;
}
.contact-fixed img {
    width: 2rem;
}
